body {
  color: #757575;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.section {
  padding: 94px 0px;
}

input {
  margin: 0 0;
  padding: 0px 0px;
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.logo {
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__first-part-logo {
  color: #2196f3;
}

.social-networks__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover, .social-networks__link:focus {
  color: #fff;
  background-color: #2196f3;
}

.social-networks__logo {
  fill: currentColor;
}

.social-networks__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/* Header */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header-navigation {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__link:hover, .header-navigation__link:focus {
  color: #2196f3;
}

.header-navigation__link--active {
  color: #2196f3;
}

.header-navigation__link--active::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  height: 5px;
  width: 100%;
  border-radius: 2px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__logo-mail, .contacts__logo-phone {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  border: 0px;
  padding: 10px 32px;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 270px;
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__description {
  margin: 0;
}

.services {
  padding-top: 0;
}

.services__title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.services__item {
  position: relative;
}

.services__image {
  display: block;
}

.command {
  background-color: #f5f4fa;
}

.command__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.command__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  background-color: #fff;
}

.command__image {
  display: block;
  margin-bottom: 30px;
}

.command__name {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

.command__description {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.partners__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.partners__logo {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover {
  fill: #2196f3;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 448px;
  margin: 40px 40px;
}

.modal__form--title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.modal__form--input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--item:focus-within > .modal__form--input {
  border-color: #2196f3;
}

.modal__form--item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal__form--icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--item:focus-within > .modal__form--icon {
  fill: #2196f3;
}

.modal__form--label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.modal__form--comment {
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment:focus-within {
  border-color: #2196f3;
}

.modal__form--checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

.modal__form--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__form--checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url("../image/Checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.modal__form--checkbox:checked + .modal__form--checkbox-icon {
  background-image: url("../image/checkboxChecked.svg");
}

.modal__form--checkbox-conditions {
  color: #2196f3;
}

.modal__form--button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 200px;
  border-radius: 4px;
  border: 0px;
  padding: 10px 32px;
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--button:hover, .modal__form--button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: inline-block;
  min-width: 29px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #fff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, .portfolio-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item__image {
  display: block;
}

.portfolio-item__sign {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-item__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item__description {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-item__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 0px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  display: block;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;
  gap: 70px;
}

.footer__logo {
  display: inline-block;
  color: #fff;
  margin-bottom: 20px;
}

.footer__adress {
  margin-top: 0;
  margin-bottom: 9px;
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__mail {
  margin-bottom: 9px;
}

.footer__mail, .footer__telephone {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover, .footer__mail:focus, .footer__telephone:hover, .footer__telephone:focus {
  color: #2196f3;
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-form__service-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
}

.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button-sercises {
  position: relative;
}

.footer-form__button {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 29px;
  padding-right: 62px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
}

.footer-form__icon-button {
  position: absolute;
  right: 28px;
  top: 13px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../image/iconSend.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */