.features {
  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10;

    color: $additional-font-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
  }

  &__item {
    width: 450px;
    @media screen and (max-width: (($tablet-width)-1)){
      &:not(:last-child){
        margin-bottom: 30px ;
      }
    }
  }

  @media screen and (min-width: $tablet-width) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__item {
      width: 354px;
    }

    &__thumb {
      width: 354px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &__list {
      flex-wrap: nowrap;
    }

    &__item {
      width: 270px;
    }
    &__thumb {
      width: 270px;
    }
  }
}
