/* Header */

.header {

  &__container {
    display: flex;
    position: relative;
  }


  &__navigation {
    display: flex;
    align-items: center;
  }

  &__logo {
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    @media screen and (min-width: $tablet-width){
      margin-right: 88px;
      }
    @media screen and (min-width: $desktop-width){
      margin-right: 93px;
      }
  }
}
