.header-contacts {
  @media screen and (max-width: $tablet-width){
    display: none;
  }
  @media screen and (max-width: $desktop-width ) and (min-width: $tablet-width) {
    position: absolute;
    top: 21px;
    right: 0px;
  }
  @media screen and (min-width: $desktop-width) {
    position: relative;
    display: flex;
    margin-left: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $main-font-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $focus-color;
    }
  }

  @media screen and (max-width: $phone-width) {
    display: none;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (max-width: $desktop-width) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.contacts {
  &__logo-mail,
  &__logo-phone {
    fill: currentColor;
    margin-right: 10px;
  }
}
