$main-font-color: #757575;
$additional-font-color: #212121;
$white-font-color: #fff;
$white-tanslucent-color: rgba(255, 255, 255, 0.6);
$focus-color: #2196f3;
$footer-background-color: #2f303a;
$color-links: #afb1b8;
